h1,h3 {
	color:#2f7991;
}

table  {
	width:75%;
	font-size:12px;
	border-collapse: collapse;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding: 15px;
	margin-left: auto;
  	margin-right: auto;
}

header {
	width: 30%;
	margin-left: auto;
  	margin-right: auto;
}

article {
	margin-top: 50px;
}

section {
	margin-top: 50px;
}

tr:hover {background-color: #f5f5f5;}

th {
	background-color:#004f78;
	color: white;
}

th,td {
	 border-bottom: 1px solid #ddd;
}

.rowColoredBank {
	background-color: #e7f0d0;
}

.rowColoredExpense {
	background-color: #d5e0b9;
}

.rowColoredIncome {
	background-color: #c1cba7;
}

.rowColoredLiability {
	background-color: #a5ae8e;
}

.totals, .totals-dat {
	font-size:16px;
	display: inline-block;
}

.totals {
	color:#2f7991;
	width: 150px;
}

.totals-dat {
	margin-left; 20px;	
}

.chartArea {
	margin-left: 25%;
}

.tblWrapper {
	overflow-x:auto;
}
